node_modules
.browser_modules
lib
*.log
electron-app/src-gen
electron-app/dist
electron-app/resources/verilator
electron-app/gen-webpack*
packages/**/tsconfig.tsbuildinfo
plugins
electron-app/resources/templates/*
electron-app/resources/node-red/*
yarn.lock
workflow
packages/**/dist