.result-node-buttons-prebuffer {
    display: flex;
}

.theia-TreeNode:hover .result-node-buttons-prebuffer .result-node-buttons2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
  }

.result-node-buttons-prebuffer .result-node-buttons2 {
    display: flex;
}

.result-node-buttons-prebuffer .result-node-buttons2 > span {
    width: 16px;
    height: 16px;
    margin-left: 2.5px;
    margin-right: 0.5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 5px;
  }
  
  .result-node-buttons-prebuffer .result-node-buttons2 > span:hover {
    background-color: var(--theia-toolbar-hoverBackground);
}



.theia-TreeNode:hover .result-node-buttons-prebuffer  .result-node-buttons1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
  }

  .result-node-buttons-prebuffer .result-node-buttons1 {
    display: none;
}

.result-node-buttons-prebuffer .result-node-buttons1 > span {
    width: 16px;
    height: 16px;
    margin-left: 2.5px;
    margin-right: 0.5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 5px;
  }
  
  .result-node-buttons-prebuffer .result-node-buttons1 > span:hover {
    background-color: var(--theia-toolbar-hoverBackground);
}

  